.img-card {
  margin-left: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 10%;
  line-height: 7px;
}

.head-1 {
  font-size: 30px;
  font-weight:600;
  margin-left: 20px;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.text-1 {
  font-size: 18px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}