  .nav {
    background: #ffd4fe;
    height: 60px;
  }

  .nav a {
    color: blue;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 5px;
    line-height: 3;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: palevioletred;
    padding: 10px;
  }
  

  .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .p {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }