.div cardStyle {
  width: 10rem,
}

.section {
  background: cornflowerblue;
  padding: 20px;
  width: 10rem;
}

.section h2 {
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: rgba(196, 168, 192, 0.825);
  padding: 20px;
}
.card-img-top:hover{
  opacity: .7;
}

.card-body:hover{
  opacity: .5;
}